body {
    padding-top: 30px;
}

a:hover{
    cursor: pointer
}

.control-group input,.control-group textarea  {
    margin-left: 20px;
}

.control-group .help-block {
    margin-left: 180px;
}

.control-group > div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    padding-top: 5px;
}