<!DOCTYPE html>
<html ng-app="formApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>ngFormPlayground</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body class="container" ng-controller="formController">

    <form novalidate class="form-horizontal span4" name="myForm">

        <div class="page-header">
            <h3>Formulaire d'inscription</h3>
        </div>

        <fieldset>

        <div>
            <label>Pseudo</label>
            <input name="pseudo" type="text" ng-model="user.pseudo">
            <p class="help-block"></p>
        </div>

        <div>
            <label>Email</label>
            <input name="email" type="email" ng-model="user.email">
            <p class="help-block"></p>
        </div>


        <div>
            <label>Confirmez email</label>
            <input name="email" type="email" ng-model="user.email2">
            <p class="help-block"></p>
        </div>

        <div>
            <label>Date de naissance</label>
            <input  name="birthday" type="date" ng-model="user.birthday">
            <p class="help-block"></p>
        </div>

        <div>
            <label>Site</label>
            <input name="site" type="url" ng-model="user.site">
            <p class="help-block"></p>
        </div>

        <div>
            <label>Cotisations</label>
            <input name="amount" type="number" ng-model="user.amount">
            <p class="help-block"></p>
        </div>

        <footer class="form-actions">
            <button class="btn btn-danger btn-small">Annuler</button>
            <button class="btn btn-success" ng-click="add(user)" >Valider</button>
        </footer>

        </fieldset>
    </form>



    <section class="span6 offset1">
        <header class="page-header">
            <h3>Liste des inscrits <small>{{users.length}}</small></h3>
        </header>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Date de naissance</th>
                <th>Cotisations</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.pseudo}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.amount}}</td>
            </tr>
            </tbody>
        </table>
    </section>

<script type="text/javascript" src="app/lib/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>

</body>
</html>
