<!DOCTYPE html>
<html ng-app="formApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>ngFormPlayground</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body class="container-fluid" ng-controller="formController">

<section class="row-fluid">

    <form class="form-horizontal span5 offset1" name="myForm" ng-submit="confirm(user)">

        <header class="page-header">
            <h3>Formulaire de réservation</h3>
        </header>

        <div class="control-group">
            <label class="control-label">Nom et Prénom *</label>
            <input name="fullname" type="text" ng-model="user.fullname" required>
        </div>

        <div class="control-group">
            <label class="control-label">Email *</label>
            <input name="email" type="email" ng-model="user.email" required>
        </div>

        <div class="control-group">
            <label class="control-label">Confirmez email *</label>
            <input name="email" type="email" ng-model="user.email2" required>
        </div>

        <div class="control-group">
            <label class="control-label">Date d'arrivée *</label>
            <input  name="arrival" type="date" ng-model="user.arrival" placeholder="jj/mm/aaaa" required>
        </div>

        <div class="control-group">
            <label class="control-label">Nombre de nuits *</label>
            <input name="night" type="number" ng-model="user.night" placeholder="5 nuits maximum" min="0" max="5">
        </div>

        <div class="control-group">
            <label class="control-label">Commentaires</label>
            <textarea name="comment" type="text" ng-model="user.comment"></textarea>
        </div>

        <div class="control-group">
            <label class="control-label"><strong>Prix : </strong></label>
            <div ng-show="user.night">{{55.65 * user.night}}</div>
        </div>

        <footer class="form-actions">
            <input type="reset" class="btn btn-danger btn-small" value="Réinitialiser">
            <input type="submit" class="btn btn-success" value="Valider">
        </footer>

        <p>* requis</p>

    </form>

    <section class="span5">
        <header class="page-header">
            <h3>Liste des inscrits <small>{{users.length}}</small></h3>
        </header>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Nom et Prénom</th>
                <th>Email</th>
                <th>Date d'arrivée</th>
                <th>Nombre de nuits</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.arrival}}</td>
                <td>{{user.night}}</td>
                <td>{{55.65 * user.night}}</td>
            </tr>
            </tbody>
        </table>
    </section>

</section>

<script type="text/javascript" src="app/lib/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>

</body>
</html>
